{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>估估出門好時機</title>

    <!-- Bootstrap -->
    <link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "jampredict/css/jampredict.css" %}' rel="stylesheet">
    <link rel="stylesheet" href="{% static "bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}" />

    {% block "extra_style"%}
    {% endblock %}
    <style type="text/css" media="screen">
      /* html { height: 100% }
      body { height:100%;  background:#eee; margin:1em; text-align:center; }
      /*  body { height: 100%; margin: 0; padding: 0 } */
    </style>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDErdk4TToHeg_NnDslstsd5z5Son5spuE&sensor=FALSE">
    </script>
  </head>
  <body> 
    {% block "body_content" %}
    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bower_components/moment/min/moment.min.js" %}"></script>
    <!--script type="text/javascript" src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js"%}"></script-->
    <script type="text/javascript" src="{% static "bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script type="text/javascript">
    {% block "extra_script" %}
    {% endblock %}
    </script>
    </body>
  </html>
