{% extends "jampredict/base.html" %}
{% load staticfiles %}
{% block "body_content" %} 

<div class="container-fluid" >
  <div class='cyynavi row' style='background-image: url("{% static 'jampredict/images/web_head.png'%}")'>
    <div class='mycontainer'>
      <h1>台北市車流量預測地圖 <small>Taipei Traffic Prediction Map</small></h1>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 id='message' class="panel-title">使用資訊:</h3>
    </div>
    <div  id='message-block' class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">此系統無實作防呆,充滿bug</li>
        <li class="list-group-item">我們僅蒐集5/15 - 5/23資料</li>
        <li class="list-group-item">目前已知bug: 實際時間選當下可能會無結果</li>
        <li class="list-group-item">預測目前僅能顯示隔天, 此部分是因為debug過程中演算法時有調整, 預測太多天會造成debug花費時間很長 </li>
        <li class="list-group-item">請小心輕放ＱＱ</li>
      </ul>
    </div>
  </div>

  <div class='row mycontainer'>
    <div class='col-xs-6 col-sm-8 col-md-9 left_panel'>
      <div id="map_canvas" class="" style=""> OOPS!!!!</div>
    </div>
    <div class='col-xs-6 col-sm-4 col-md-3  right_panel'>

      <div class='center'>
        <img id='weather' src="{% static 'jampredict/images/sunny.png'%}" alt="今天天氣" style="width:200px;height:200px" class='center hidden'>
        <h3>資料時間: {{time}}</h3>
        <h3>資料類型: {{type_ch}}</h3>
      </div>


      <div class='color-indicator'>
        <div class='row'>
          <div class='col-xs-2 text'>
            暢通
          </div>
          <div class ='col-xs-8 color-bar'>
          </div>
          <div class='col-xs-2 text'>
            擁塞
          </div>
        </div>
        <div class='row'>
          <div class='form-group col-xs-offset-2'>
            <div class='checkbox-inline'>
              <input id="cbx1" type="checkbox" value="1"> 顯示監測點
            </div>
            <div class='checkbox-inline'>
              <input id="cbx2" type="checkbox" value="1"> 顯示景點
            </div>
          </div>
        </div>
      </div>
      <form action='{% url "jampredict:dymap" %}' method='get'>
        <div class="form-group">
          <div class="radio-inline">
            <label>
              <input type="radio" name="type" id="type1" value="real">
              實際車流         
            </label>
          </div>

          <div class="radio-inline">
            <label>
              <input type="radio" name="type" id="type2" value="spredict" >
              統計車流預測        
            </label>
          </div>

          <div class="radio-inline">
            <label>
              <input type="radio" name="type" id="type3" value="mlpredict">
              ML車流預測
            </label>
          </div>
        </div>
        <div class="row">
          <div class='col-sm-12'>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" name='time' required/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <button type='submit' class="btn btn-default" >Submit</button>
      </form>
    </div> <!--end of right panel-->


  </div>
  <div class='gradient-hr'></div>
  <div class='footer'>
    <!--hr-->
    <p><閉上眼睛深呼吸,估估出門好時機 All Rights Open></p>
  </div>
</div>
{% endblock %}

{% block "extra_script" %}

$(function () {
$('#datetimepicker1').datetimepicker({
sideBySide: true,
format: "YYYY/MM/DD HH:mm",

{% if time != ''%}defaultDate: "{{time}}" {% endif %}
});
});

$(function()
{
initialize();
{% if type %}$('input[value={{type}}]').prop('checked',true){% endif %}


{% if time != ''%}
var getdate =  Date.parse("{{time}}");
var fd = Date.parse("2015/05/20");
if(getdate > fd )
{
$('#weather').attr("src", "{% static 'jampredict/images/rainny.png'%}");
}

$('#weather').removeClass('hidden');

{% endif %}
});


$('#btn1').click(function(){
initialize();
});

$("#cbx1, #cbx2").change(function() {
initialize();
});


var gridh = 0.0035, gridw = 0.004;
function initialize() {

var color_map = {{cmap|safe}}
var map = new google.maps.Map(document.getElementById('map_canvas'), {
zoom: 13,
center: new google.maps.LatLng(25.050208, 121.544128),
mapTypeId: google.maps.MapTypeId.TERRAIN
});
for(i=0;i<40;i++)
for(j=0;j<40;j++)
{
add_rect(map,24.988391 + gridh*i,121.473983+gridw*j, color_map[i][j]);
}
var points = $.parseJSON('{{data|safe}}');
if($('#cbx1')[0].checked)
{
for(var i in points)
{

add_mark(map, points[i]);
}
}


if($('#cbx2')[0].checked)
{
var viewinfo_points = $.parseJSON('{{viewinfo|safe}}');
for(var i in viewinfo_points)
{

add_mark_viewinfo(map, viewinfo_points[i]);
}
}

}

var image = '{% static "jampredict/images/icon_cam.png" %}'

function add_mark(map, point)
{
var myLatlng = new google.maps.LatLng(point['lat'], point['lon']);
var marker = new google.maps.Marker({
position: myLatlng,
map: map,
icon: image,
title: point['SectionId'] + ": " + point['AvgSpd']
});
}

var image_view_info = '{% static "jampredict/images/icon_touristattraction.png" %}'
function add_mark_viewinfo(map, point)
{
var myLatlng = new google.maps.LatLng(point['latitude'], point['longitude']);
var marker = new google.maps.Marker({
position: myLatlng,
map: map,
icon: image_view_info,
title: point['stitle']
});
}


function add_rect(map, lat, lon, color_level) 
{
if(color_level == -1)
return;

if(color_level < 5)
color_level = 5;
else if( color_level > 15 )
color_level = 15;

var g =Math.floor((255 * (color_level-5)) / 11);
var r =Math.floor((255*(11-(color_level-5))) /11);
//ctx.fillStyle = 'rgba('+r+','+g+',0,0.5)'
var rectangle = new google.maps.Rectangle({
strokeColor: '#FF0000',
strokeOpacity: 0.8,
strokeWeight: 0,
//fillColor: '#FF0000',
fillColor: 'rgb('+r+','+g+',0)',
fillOpacity: 0.7,
map: map,
bounds: new google.maps.LatLngBounds(
//new google.maps.LatLng(33.671068, -116.25128),
// new google.maps.LatLng(33.685282, -116.233942))
new google.maps.LatLng(lat, lon),
new google.maps.LatLng(lat +gridh, lon+gridw))
});
}
{% endblock %}
