
.mycontainer
{
    margin: 0 40px;
}
.cyynavi h1
{
    font-weight:bold;
    margin-bottom:20px;
}
/*
.content
{   
    display:table;
    border-collapse: collapse;
    width:100%;
    height: 700px;
}

.content>div
{
    display:table-cell; 
    border:10px solid white;
    
}
*/
.cyynavi
{
    background-position: right;
    background-repeat: no-repeat; 
    margin-bottom: 20px;
}

.cyynavi-content
{
    background-color:red;
    position:relative;
    height:100%;
    top:20px;
    left:0px;
}

body
{
}

.left_panel
{  
    height: 700px;
}

.right_panel
{   
}

#map_canvas 
{   
    display:block;
    height: 100%
}
.center 
{
    margin:0 auto;
    display:block;
}

.color-indicator
{
    height: 100px;
    padding: 20px 0;
}

.color-indicator .text
{
 padding 0px;
 white-space: nowrap;
 height: 20px;
}
.color-bar
{
  background: -webkit-linear-gradient(right, red, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(right, red, green); /* Standard syntax */
  height:20px;
  opacity:0.6;
}
.gradient-hr
{ 
    background: -webkit-linear-gradient(right, red, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right, red, green); /* Standard syntax */
    height:1px;
    width:100%;
    margin: 7px 0px;
    opacity:0.5;
}

.footer hr
{
    border-top:1px dotted gray;
}
.footer p
{
    position: relative;
    text-align: center;
    width: 100%;
}

.cyy
{
    background-color: red;
}
.cyy2
{
    background-color: green;
}
